<mat-toolbar color="primary">
  <a *ngIf="showHomeNavigation" routerLink="/" routerLinkActive="active" mat-button>
    <mat-icon aria-hidden="false" aria-label="Home">home</mat-icon>
  </a>
  <span class="header-spacer"></span>
  <span><mat-icon> {{ icon }} </mat-icon> {{ title }} </span>
  <span class="header-spacer"></span>
</mat-toolbar>
