@import '../../../../theme-vars';

.header-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  color: mat-color($app-primary, 50);
  text-align: center;
}

.mat-toolbar a {
  color: mat-color($app-primary, 50);
}

