.full-width {
  width: 100%;
}

.login {
  min-width: 120px;
  max-width: 480px;
  margin: 20px auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
