<div class="page">
<form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="login">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <!-- Select box if there are registered devices -->
      <div class="row" *ngIf="deviceAvailable()">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Managed Devices" formControlName="devices"
                  (selectionChange)="onDeviceSelectionChange()">
              <mat-option *ngFor="let device of devices" [value]="device.id">
                {{ device.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row" *ngIf="addNewDevice || !deviceAvailable()">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Host" formControlName="host"></textarea>
            <mat-error *ngIf="loginForm.controls['host'].hasError('required')">
              Host name or IP-Address is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngIf="addToken || !deviceAvailable()">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Access Token" formControlName="token"></textarea>
            <mat-error *ngIf="loginForm.controls['token'].hasError('required')">
              Access Token is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div *ngIf="!loading">
        <button  [disabled]="!submitAllowed" mat-raised-button color="primary" type="submit">Login</button>
      </div>
      <mat-progress-bar *ngIf="loading" mode="query"> </mat-progress-bar>
    </mat-card-actions>
  </mat-card>
</form>

<app-footer class="footer"></app-footer>
</div>