@import "~src/_theme-vars";

.footer {
}

.build-info {
    text-align: center;
    display: block;
}

.version {
    color: mat-color($app-primary);
    float: left;
    margin-right: 1em;
}

.githash {
    color: grey;
    float: left;
    margin-right: 1em;
}