@import "~src/_theme-vars";
// see  https://medium.com/@aleixsuau/how-to-use-angular-material-2-sass-variables-in-your-components-76ce0203f126
// and  https://sass-lang.com/documentation/at-rules/import

mat-grid-tile {
  background-color: lightgray;
}

.grid-container {
  margin: 20px;
}

.tile-link {
  color: mat-color($app-primary);
  text-align: center;
}


// toolbar allignment
.home-spacer {
  flex: 1 1 auto;
}
