<app-header [showHomeNavigation]="false"></app-header>
<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="200px" gutterSize="5px">
    <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols">
      <a mat-button routerLink="{{ tile.link }}" class="tile-link">
        <mat-icon> {{ tile.icon }} </mat-icon> {{ tile.text }}
      </a>
    </mat-grid-tile>
  </mat-grid-list>
</div>
