
// use icons locally
@import '~material-design-icons/iconfont/material-icons.css';

// Other settings
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

